@import "mixins";
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #222222;
  font-family: $body-font;
  font-size: 1rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.53px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $body-font;
}

p {
  margin-bottom: $vertical-spacing;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 $vertical-spacing;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 1rem;
  line-height: 28px;
  margin-bottom: $vertical-spacing;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 1rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/* futurelab code start */

// typography
h1 {
  font-size: 3rem;
  @include mobiles-all {
    font-size: 2rem;
  }
}
h2 {
  font-size: 2rem;
  @include mobiles-all {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  @include mobiles-all {
    font-size: 1.25rem;
  }
}
h4 {
  font-size: 1.375rem;
  @include mobiles-all {
    font-size: 1.125rem;
  }
}
h5 {
  font-size: 0.875rem;
  font-family: $body-font;
  @include mobiles-all {
    font-size: 0.875rem;
  }
}
h6 {
  font-size: 0.75rem;
  font-family: $body-font;
  @include mobiles-all {
    font-size: 0.75rem;
  }
}

p {
  font-size: 1rem;
  @include mobiles-all {
    font-size: 1.25rem;
  }
}

.tiny-text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 28px;
  color: #222222;
}

// base theme specific heading style
h1 {
  color: $text-black;
  font-weight: 500;
  font-size: 1.625rem;
  letter-spacing: 0.46px;
  line-height: 35px;
}

h2 {
  color: $text-black;
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: 0.5px;
  line-height: 36px;
}

h3 {
  color: $dark;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 35px;
}

h4 {
  color: $text-black;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 35px;
  letter-spacing: 1px;
}

h1,
h2 {
  font-size: 1.75rem;
  line-height: 36px;
  letter-spacing: -0.5px;
  font-weight: 500;
  margin-bottom: $vertical-spacing;
}

h3 {
  font-size: 0.875rem;
}